
body {
  background-color: #000;
  color: #fff;
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
}


.grid{
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 2px;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}
.wall{
  background-color: blue;
  border: 2px solid #001a66;
}
.dot{
  background-color: black;
  position: relative;
}
.dot::after{
  content: "";
  position: absolute;
  top: 40%;
  left: 40% ;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
}
/* Super pastilla */
.power-pellet {
  position: relative;
  background-color: black;
}

.power-pellet::after {
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  width: 12px;
  height: 12px;
  background-color: #f8f32b; /* Amarillo brillante */
  border-radius: 50%;
  box-shadow: 0 0 8px 4px #f8f32b;
}
.pacman {
  width: 100%;
  height: 100%;
  background-image: url('imagenes/pacman.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.2s; 
}
.ghost {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.red{
  background-image: url('imagenes/red.png');
}
.pink {
  background-image: url('imagenes/yellow.png');
}


.author {
  font-family: 'Arial Black', sans-serif;
  font-size: 19px;
  color: white;
  background-color: black;
  padding: 10px 20px;
  border: 3px solid #ffff00;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 0 15px #ffff00;
  margin-top: 20px;
}
.ghost.scared {
  background-color: blue !important;
  background-image: none;
}
